
<div style="
width:100%;
display: flex;
align-items: center;
justify-content: center;
">
    <div style="
    max-width: 600px;
    ">
        <h1 style="color: #ddab74; text-align: right;">
            Medivet
        </h1>
         <p style="color: black; font-size: 1rem;">
            Otrzymaliśmy informację o zmianie Twojego hasła. Wystarczy, że naciśniesz przycisk znajdujący się poniżej.
        </p>
          <div style="width:100%; display: flex;">
            <button style="
            padding: 1rem 2rem;
            background-color: #ddab74;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            margin: 1rem auto;
            ">
            <a href="{{resetPasswordLink}}" style="
            text-decoration: none;
            color: white;
            font-size: 1.2rem;
            ">
            Resetuj moje hasło
            </a>
            </button>
        </div>
        <p style="color: black; font-size: 1rem;">
            Jeżeli to nie Ty wysłałeś prośbę o zmianę hasła, zignoruj tę wiadomość. Twoje hasło nie ulegnie zmianie.
        </p>
    </div>
</div>